<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>planet.freedesktop.org</title>
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="stylesheet" href="planet.css" />
  <TMPL_IF feedtype>
    <link rel="alternate" href="<TMPL_VAR feed ESCAPE="HTML">"
     title="<TMPL_VAR channel_title_plain ESCAPE="HTML">"
     type="application/<TMPL_VAR feedtype>+xml">
  </TMPL_IF>
 </head>
 <body>
  <div class="header">
   <div class="logo"><img src="images/planet.svg" width="114" height="103" border="0" alt="" /></div>
   <div class="title"><TMPL_VAR name></div>
  </div>

  <div class="blog">
  <TMPL_LOOP Items>
  <TMPL_IF new_date>
   <div class="datebox"><TMPL_VAR new_date></div>
  </TMPL_IF>
   <div class="blog-entry">
    <div class="blog-header">
     <TMPL_IF channel_face><img align="right" src="<TMPL_VAR channel_face>" /></TMPL_IF>
     <a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name></a><TMPL_IF title>: <a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></TMPL_IF>
    </div>
    <div class="blog-body">
    <TMPL_VAR content>
    </div>
    <div class="blog-footer">
    <a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF author>by <TMPL_VAR author> at </TMPL_IF><TMPL_VAR date><TMPL_IF category> under <TMPL_VAR category></TMPL_IF></a>
    </div>
   </div>
  </TMPL_LOOP>
  </div>

  <div class="side">
   <div class="sidebox">
     <div class="sidebox-title">planet.fd.o</div>
     <div class="sidebox-content">
       planet.freedesktop.org is powered by <a href="http://intertwingly.net/code/venus/">Venus</a>,
       and the <a href="http://freedesktop.org">freedesktop.org</a> community.
       <br />
       <a href="rss10.xml"><img src="images/rss10.png" width="80" height="15" alt="RSS 1.0 Feed"></a>
       <a href="rss20.xml"><img src="images/rss20.png" width="80" height="15" alt="RSS 2.0 Feed"></a><br />
       <a href="foafroll.xml"><img src="images/foaf.png" width="80" height="15" alt="FOAF Subscriptions"></a>
       <a href="opml.xml"><img src="images/opml.png" width="80" height="15" alt="OPML Subscriptions"></a><br />
       <a href="http://www.catb.org/hacker-emblem/"><img src="images/hacker.png" width="80" height="15" alt="Hacker"></a>
     </div>
   </div>
   <br />
   <div class="sidebox">
     <div class="sidebox-title">Subscriptions</div>
     <div class="sidebox-content">
     <TMPL_LOOP Channels>
      <a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">"><TMPL_VAR name></a><br />
     </TMPL_LOOP>
     </div>
   </div>
   <br />
   <div class="sidebox">
    <div class="sidebox-title">Planetarium</div>
    <div class="sidebox-content">
      <a href="http://planet.debian.org/">Planet Debian</a><br />
      <a href="http://planet.fedoraproject.org/">Planet Fedora</a><br />
      <a href="http://planet.gentoo.org/">Planet Gentoo</a><br />
      <a href="http://planet.gnome.org/">Planet GNOME</a><br />
      <a href="http://www.graphicsplanet.org/">Graphics Planet</a><br />
      <a href="http://gstreamer.freedesktop.org/planet/">Planet GStreamer</a><br />
      <a href="http://www.planet-im.com/">Planet IM</a><br />
      <a href="http://planet.jabber.org/">Planet Jabber</a><br />
      <a href="http://planetkde.org/">Planet KDE</a><br />
      <a href="http://planet.kernel.org/">Planet Kernel</a><br />
      <a href="http://planet.mozilla.org/">Planet Mozilla</a><br />
      <a href="http://planet.documentfoundation.org/">Planet Document Foundation</a><br />
      <a href="https://planet.opensuse.org/">Planet openSUSE</a><br />
    </div>
   </div>
  </div>

  <div class="copyright">
   Layout copyright &copy; 2004 <a href="mailto:chipx86@chipx86.com">Christian Hammond</a>.<br />
   Content copyright by their respective authors.<br />
   To get your feed here, or for technical questions, please file an issue on <a href="https://gitlab.freedesktop.org/freedesktop/planet.freedesktop.org">our GitLab project</a>.
  </div>
 </body>
</html>
